@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body.roboto {
   font-family: Roboto, sans-serif;
   h1, h2, h3, h4, h5, h6, strong {
       font-weight: 500;
   }
}
body.inter {
   font-family: Inter, sans-serif;
   h1, h2, h3, h4, h5, h6, strong {
       font-weight: 600;
   }
}
body.dm-sans {
   font-family: "DM Sans", sans-serif;
   h1, h2, h3, h4, h5, h6, strong {
       font-weight: 500;
   }
}
body.noto-serif {
   font-family: "Noto Serif", serif;
   h1, h2, h3, h4, h5, h6, strong {
       font-weight: 700;
   }
}
body.noto-sans {
   font-family: "Noto Sans", serif;
   h1, h2, h3, h4, h5, h6, strong {
       font-weight: 700;
   }
}
body.montserrat {
   font-family: "Montserrat", serif;
   h1, h2, h3, h4, h5, h6, strong {
       font-weight: 500;
   }
}
body.merriweather {
    font-family: "Merriweather", serif;
    h1, h2, h3, h4, h5, h6, strong {
        font-weight: 700;
    }
}
body.muli {
    font-family: "Muli", sans-serif;
    h1, h2, h3, h4, h5, h6, strong {
        font-weight: 600;
    }
}
body.source-sans-pro {
    font-family: "Source Sans Pro", sans-serif;
    h1, h2, h3, h4, h5, h6, strong {
        font-weight: 600;
    }
}
body.crimson-pro {
    font-family: "Crimson Pro", serif;
    font-size: 1.4rem;
    h1, h2, h3, h4, h5, h6, strong {
        font-weight: 500;
    }
}